/* reset */

@import url(./reset.css);

/* color */

:root{
    --mainColor: #5B2386;
    --buttonColor: #FCEE21;
}

/* font */

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* design */

/* main */

body{
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    text-align: center;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'GmarketSansMedium';
    font-style: normal;
    font-weight: 400;
    word-break: keep-all;
    position: relative;
}

.mainWrapper{
    padding: 60px 0;
}

.mainHeader{
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 265px;
    line-height: 265px;
}

.mainTitleImg{
    width: 530px;
    vertical-align: middle;
}

.ir{
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
}

.quote{
    font-family: 'OTEnjoystoriesBA';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #F5DF4D;
    margin: 50px 0;
}

.message{
    width: 375px;
    margin: 0 auto;
    background-image: url(../img/quotes.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 60px;
}

.message strong{
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 24px;
}

.enterInput{
    margin: 80px auto;
}

.enterInput legend{

}

.enterInput p{
    margin: 27px auto;
    font-size: 24px;
    line-height: 24px;
}

.enterInput p label{
    display: inline-block;
}

.enterInput p input{
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    line-height: 24px;
    width: 228px;
    box-sizing: border-box;
    text-align: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 7px;
    padding: 17px 0 16px;
}

.enterInput p input::placeholder{
    color: #BABCBE;
}

.getResultButton{
    font-family: 'GmarketSansBold';
    background-color: var(--buttonColor);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    color: var(--mainColor);
    padding: 12px 49px;
    cursor: pointer;
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 24px;
    position: relative;
}

.getResultButton::after{
    content: "";
    background-image: url(../img/click.png);
    width: 64px;
    height: 72px;
    position: absolute;
    right: -64px;
    pointer-events: none;
}

.resultContainer{
    display: block;
}

.resultContainer.hide{
    display: none;
}

.resultMessage{
    font-size: 24px;
    line-height: 24px;
    margin: 147px auto 127px;
}

.resultMessage strong{
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    vertical-align: middle;
    margin: 0 12px;
}

.goButton, .shareButton, .returnButton{
    border: none;
    font-family: 'GmarketSansBold';
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    color: var(--mainColor);
    padding: 21px 49px 15px;
    cursor: pointer;
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 0 9px;
}

.goButton, .returnButton{
    background-color: var(--buttonColor);
}

.shareButton{
    background-color: #FFFFFF;
}

.mainFooter{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    margin-top: 100px;
}

.cautionMessage{
    margin-top: 20px;
}

/* modal */

.modal{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--mainColor);
    font-family: 'tvN Enjoystories';
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 16px;
}

.modal.hide{
    display: none;
}

.modal h2{
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;
}

.cheerMessage{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.returnButton{
    margin-top: 16px;
}